<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009741899248-lp7g79p43tontn1ojtagm7ipde9102g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009741899248-lp7g79p43tontn1ojtagm7ipde9102g5</string>
	<key>API_KEY</key>
	<string>AIzaSyBlHZPDBtUdIO7WqXFYsdJegu2JcSJhWnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1009741899248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saharbit.livescores</string>
	<key>PROJECT_ID</key>
	<string>livescores-43042</string>
	<key>STORAGE_BUCKET</key>
	<string>livescores-43042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009741899248:ios:a8a1fa26698137b16e6935</string>
	<key>DATABASE_URL</key>
	<string>https://livescores-43042.firebaseio.com</string>
</dict>
</plist>