body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(184, 227, 198, 0.4);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none !important;
}

.wizard-link {
    left: 50%;
    transform: translate(-50%, 0);
}

#root {
    max-height: calc(100vh - 52px);
    overflow: scroll;
}
